<%- include('partials/header', { title: 'หน้าแรก - CoopChain' }) %>

<!-- Include Bootstrap 5 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>



<div class="container my-5">
  <div class="card shadow-lg rounded">
    <div class="row g-0">
      <!-- ภาพ -->
      <div class="col-md-6">
        <img
          src="https://cdn.pixabay.com/photo/2024/03/26/11/14/ai-generated-8656542_1280.jpg"
          alt="Coop Image"
          class="img-fluid rounded-start"
        />
      </div>

      <!-- กล่องล็อก -->
      <div class="col-md-6 d-flex align-items-center">
        <!-- if login show user detail -->
        <% if(!user){ %>
        <div class="w-100 px-4">
          <h1 class="display-6 mb-3 text-success text-center">CoopChainReport</h1>
          <p class="lead mb-4 text-center">ระบบสารสนสารเทศและเครือข่ายสหกรณ์</p>

          <h5 class="text-center mb-3">🔐 เข้าระบบ</h5>
          <form action="/auth/login" method="POST">
            <div class="mb-3">
              <label for="username" class="form-label">ชื่อผู้ใช้งาน</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">รหัสผ่าน</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
              />
            </div>
            <button type="submit" class="btn btn-success w-100">เข้าระบบ</button>
          </form>
          
          <p class="text-center mt-2">
            <i class="bi bi-person-add"></i> ยังไม่ได้เป็น 
            <a href="/auth/register" class="text-success">สมาชิก</a>
          </p>
        </div>
        <% } else { %>
        <div class="w-100 px-4">
          <h1 class="display-6 mb-3 text-success text-center">ยินดีต้อนรับต้อนรับ</h1>
          <p class="lead mb-4 text-center"><%= user.fullname %></p>
          <div class="text-center">
            <a href="/dashboard" class="btn btn-success me-2">แดชบอร์ด</a>
            <a href="/auth/logout" class="btn btn-outline-secondary">ออกจากระบบ</a>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container-lg">
    <h2 class="my-3 text-center text-primary">📊 ข้อมูลสหกรณ์</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card shadow-sm border-0">
          <div class="card-body">
            <h5 class="card-title">จำนวนสหกรณ์</h5>
            <p class="card-text display-6 text-success"><%= stats.coop %></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow-sm border-0">
          <div class="card-body">
            <h5 class="card-title">จำนวนกลุ่มเกษตรกร</h5>
            <p class="card-text display-6 text-info"><%= stats.farmer %></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow-sm border-0">
          <div class="card-body">
            <h5 class="card-title">อยู่ระหว่างชำระบัญชี</h5>
            <p class="card-text display-6 text-warning"><%= stats.closing %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- ส่วนแสดงไฟล์ -->
<section class="py-2 bg-white">
  <div class="container-lg">
    
    
    <div class="bg-light p-4 rounded shadow-sm">
      <h2 class="mb-4 text-center text-success">📂 รายงานงบการเงิน</h2>
      <ul class="list-group list-group-flush" style="max-width: 900px; margin: auto;">
        <% finances.forEach((file, index) => { %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>
              <i class="fas fa-file-alt me-2 text-secondary"></i>
              <strong><%= index + 1 %>.</strong> <%= file.c_name %> <span>[ <%= file.end_date %> <%= file.end_year %>]</span>
              <% 
                const fileSavedDate = new Date(file.savedate);
                const currentDate = new Date();
                const diffDays = Math.ceil((currentDate - fileSavedDate) / (1000 * 60 * 60 * 24));
              %>
              <% if (diffDays <= 7) { %>
                <img src="https://websitearchive2020.nepa.gov.jm/new/images/gif/new-star.gif" alt="New" class="ms-2" style="width: 40px; height: 35px;" />
              <% } %>
            </span>
            <% if(user){ %>
              <a 
                href="/download/<%= file.id %>" 
                class="btn btn-sm btn-outline-success" 
                target="_blank" 
                rel="noopener noreferrer"
              >
                ดาวน์โหลด
              </a>
            <% } %>
          </li>
        <% }); %>
        <div class="text-end mt-2">
          <a href="/finance" class="btn btn-danger btn-sm px-4 shadow-sm">
            📂 ดูทั้งหมด
          </a>
        </div>
      </ul>
    </div>
  </div>
</section>

<!-- ส่วนแสดงไฟล์ข้อ3 -->
<section class="py-2 bg-white">
  <div class="container-lg">
    <h2 class="mb-4 text-center text-success">📋 ข้อบังคับสถาบัน</h2>
    <div class="bg-light p-4 rounded shadow-sm">
      <ul class="list-group list-group-flush" style="max-width: 900px; margin: auto;">
        <% ruleFiles.forEach((rule, index) => { %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>
              <i class="fas fa-file-pdf me-2 text-secondary"></i>
              <strong><%= index + 1 %>.</strong> <%= rule.rule_name %> 
              <span>[ <%= rule.rule_year %>]</span>
              <span class="badge bg-info ms-2">
                <% if (rule.rule_type === 'MR') { %>
                  ข้อ
                <% } else if (rule.rule_type === 'ER') { %>
                  แก้ไขมูล <%= rule.er_no %>
                <% } %>
              </span>
              <% 
                const ruleSavedDate = new Date(rule.rule_savedate);
                const currentDate = new Date();
                const diffDays = Math.ceil((currentDate - ruleSavedDate) / (1000 * 60 * 60 * 24));
              %>
              <% if (diffDays <= 7) { %>
                <img src="https://websitearchive2020.nepa.gov.jm/new/images/gif/new-star.gif" alt="New" class="ms-2" style="width: 45px; height: 32px;" />
              <% } %>
            </span>
            <% if(user){ %>
              <a 
                href="/rule/<%= rule.rule_id %>" 
                class="btn btn-sm btn-outline-success" 
                target="_blank" 
                rel="noopener noreferrer"
              >
                ดาวน์โหลด
              </a>
            <% } %>
          </li>
        <% }); %>
        <div class="text-end mt-2">
          <a href="/rule" class="btn btn-success btn-sm px-4 shadow-sm">
            📋 ดูทั้งหมด
          </a>
        </div>
      </ul>
    </div>
  </div>
</section>
<section class="py-4 bg-light">
  <div class="container-lg">
    <h2 class="mb-4 text-center text-primary">🚗 รายการใช้รถ</h2>
    
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <% usecars.forEach((usecar, index) => { %>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <!-- Format Thai Date -->
                <% const date = new Date(usecar.date_car); %>
                <% const options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
                <% const thaiDate = date.toLocaleDateString('th-TH', options); %>
                
                <div class="fw-bold text-success">
                  <%= thaiDate %> || <%= usecar.time_car %>
                  <% 
                    const today = new Date();
                    const isToday = today.toLocaleDateString('th-TH') === date.toLocaleDateString('th-TH');
                  %>
                  <% if (isToday) { %>
                    <img src="https://websitearchive2020.nepa.gov.jm/new/images/gif/new-star.gif" alt="New" class="ms-2" style="width: 40px; height: 35px;" />
                  <% } %>
                </div>
                <div class="text-dark"><%= usecar.act_car %></div>
                <small class="text-muted">[สถานที่: <%= usecar.place_car %>]</small>
              </div>
              <% if(user && user.mClass === 'admin'){ %>
                <div class="d-flex align-items-center">
                  <a href="/usecar/edit/<%= usecar.id_usecar %>" class="btn btn-warning btn-sm me-2">Edit</a>
                  <form action="/usecar/delete/<%= usecar.id_usecar %>" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                  </form>
                </div>
              <% } %>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
</section>



<%- include('partials/footer') %>
