<%- include('../../partials/header.ejs') %>
<div class="container mt-4">
  <h2 class="mb-4">📋 รายการปัญหา Chamra</h2>
  <a href="/chamra/poblem/add" class="btn btn-success mb-3">➕ เพิ่มปัญหา</a>
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>

        <th class="">รายละเอียด</th>
       
      
      </tr>
    </thead>
    <tbody>
      <% poblems.forEach((p, idx) => { %>
        <tr>
  
         
          <td>
            <strong><%= p.c_name %></strong>
            <span class="badge bg-primary p-2 ">ครั้งที่ <%= p.po_meeting %>/<%= p.po_year %></span><br>
            <div class="card">
              <div class="card-body mt-2">
                <%= p.po_detail %>
                <hr>
                <div class="text-end">
                  <a href="/chamra/poblem/edit/<%= p.po_id %>" class="btn btn-primary btn-sm">✏️</a>
                  <form action="/chamra/poblem/delete/<%= p.po_id %>" method="POST" style="display:inline;" onsubmit="return confirm('ยืนยันลบ?');">
                    <button type="submit" class="btn btn-danger btn-sm">🗑️</button>
                  </form>
                </div>
              </div>
            </div>
            <hr>
          </td>
        
        </tr>
        

      <% }) %>
    </tbody>
  </table>
  <div class="text-center mt-3">
    <a href="/chamra" class="btn btn-primary btn-sm">กลับไปยังหน้าหลัก</a>
  </div>
 

<%- include('../../partials/footer.ejs') %>