<%- include('../partials/header', { title: 'วงเงินกู้ยืมหรือค้ำประกัน' }) %>

<div class="container my-5">
  <h1 class="text-center mb-4">ข้อมูลวงเงินกู้ยืม/ค้ำประกันของสหกรณ์และกลุ่มเกษตรกร</h1>
  <% if(user && user.mClass === 'kbs') { %>
  <a href="/vong/create" class="btn btn-primary mb-3">เพิ่มข้อมูล</a>
  <% } %>

  <!-- ช่องค้นหา -->
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="input-group">
        <input type="text" id="searchInput" class="form-control" placeholder="ระบุชื่อสถาบัน">
        <button class="btn btn-outline-secondary" type="button" onclick="clearSearch()">ล้าง</button>
      </div>
    </div>
  </div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>สถาบัน</th>
        <th>ปีบัญชี</th>
        <th>ยอดเงิน</th>
        <th>ไฟล์</th>
        <% if(user && user.mClass === 'admin') { %>
        <th>Manage</th>
        <% } %>
      </tr>
    </thead>
    <tbody id="vongTable">
      <% data.forEach(row => { %>
        <tr>
          <td><%= row.c_name || row.vong_code %></td>
          <td><%= row.end_date %> <%= row.vong_year %></td>
          <!-- thai date -->
          
          <!-- ส่วน comma vong_money -->
           <% const formattedMoney = row.vong_money.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %>
          <td class="text-end"><%= formattedMoney %></td>
          <% if(user){ %>
          <td><a href="/vong/download/<%= row.vong_id %>"><i class="bi bi-file-pdf-fill fs-4"></i></a></td>
          <% }else{ %>
          <td><a href="/auth/login"><i class="bi bi-file-pdf fs-4"></i></a></td>
          <% } %>
        
          <% if(user && user.mClass === 'admin') { %>
          <td>
            <a href="/vong/edit/<%= row.vong_id %>">แก้ไข</a> | 
            <a href="/vong/delete/<%= row.vong_id %>" onclick="return confirm('ลบข้อมูล?')">ลบ</a>
          </td>
          <% } %>
        </tr>
      <% }) %>
    </tbody>
    </table>
</div>

<script>
  const searchInput = document.getElementById('searchInput');
  const vongTable = document.getElementById('vongTable');
  let searchTimeout;

  searchInput.addEventListener('keyup', () => {
    clearTimeout(searchTimeout);
    searchTimeout = setTimeout(() => {
      const keyword = searchInput.value.toLowerCase();
      const rows = vongTable.querySelectorAll('tr');

      rows.forEach(row => {
        const instituteName = row.children[0].innerText.toLowerCase();
        const year = row.children[1].innerText.toLowerCase();
        const shouldShow = instituteName.includes(keyword) || year.includes(keyword);
        row.style.display = shouldShow ? '' : 'none';
      });
    }, 100); // รอ 300ms
  });

  function clearSearch() {
    searchInput.value = '';
    const rows = vongTable.querySelectorAll('tr');
    rows.forEach(row => {
      row.style.display = '';
    });
  }
</script>

<%- include('../partials/footer') %>
