<%- include('../partials/header') %>

<h3>Active Coop List</h3>
<a href="/coop/form" class="btn btn-primary">Add New</a>

<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Detail</th>
      <th>Process</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach(d => { %>
      <tr>
        <td><%= d.c_code %></td>
        <td><%= d.c_name %></td>
        <td>
          <% if(d.de_id) { %>
            <%= d.de_case %> / <%= d.de_person %>
          <% } %>
        </td>
        <td>
          <% if(d.pr_id) { %>
            <%= d.pr_s1 %> - <%= d.pr_s10 %>
          <% } %>
        </td>
        <td>
          <a href="/coop/form/<%= d.c_code %>" class="btn btn-sm btn-warning">Edit</a>
          <a href="/coop/delete/<%= d.c_code %>" class="btn btn-sm btn-danger" onclick="return confirm('Delete?')">Delete</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
